/03.EUREKABANC_RESTFULL_JAVA_GR04/01.SERVIDOR/BancoRESTServidorJAVA/nbproject/private/
/03.EUREKABANC_RESTFULL_JAVA_GR04/01.SERVIDOR/BancoRESTServidorJAVA/build/
/03.EUREKABANC_RESTFULL_JAVA_GR04/01.SERVIDOR/BancoRESTServidorJAVA/dist/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoClienteSOAPConsolaJAVA/nbproject/private/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoClienteSOAPConsolaJAVA/build/
