/03.EUREKABANC_RESTFULL_JAVA_GR04/01.SERVIDOR/BancoRESTServidorJAVA/nbproject/private/
/03.EUREKABANC_RESTFULL_JAVA_GR04/01.SERVIDOR/BancoRESTServidorJAVA/build/
/03.EUREKABANC_RESTFULL_JAVA_GR04/01.SERVIDOR/BancoRESTServidorJAVA/dist/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoClienteSOAPConsolaJAVA/nbproject/private/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoClienteSOAPConsolaJAVA/build/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoClienteSOAPConsolaJAVA/dist/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/ClienteJAVASoap/nbproject/private/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/ClienteJAVASoap/build/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoSOAPCliente/nbproject/private/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoSOAPCliente/build/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLICON/BancoSOAPCliente/dist/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLIESC/BancoSOAPCliente/nbproject/private/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLIESC/BancoSOAPCliente/build/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLIESC/BancoSOAPClienteESC/nbproject/private/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLIESC/BancoSOAPClienteESC/build/
/01.EUREKABANC_SOAP_JAVA_GR04/02.CLIESC/BancoSOAPClienteESC/dist/
