body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f1f1f1;
}
h1, h2, h3 {
  color: #004aad;
}
input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
}
button {
  padding: 8px 16px;
  margin-bottom: 10px;
}
.oculto {
  display: none;
}
.formulario {
  margin: 20px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
}
pre {
  background-color: #eaeaea;
  padding: 10px;
}

.icon {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-right: 5px;
}

.icon-large {
  width: 400px;
  height: 400px;
  vertical-align: middle;
  margin-right: 10px;
}


#menu {
  display: flex;
  justify-content: center;
  background-color: #004aad;
  color: white;
  padding: 10px;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#menu .menu-card {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#menu .menu-card:hover {
  background-color: #003580;
}

#formularios {
  margin-top: 80px; /* Para que no se esconda bajo el menú */
}
