<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioBancarioSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.40.25.123/ServicioBancario.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioBancarioSoap"
                contract="ServicioBancario.ServicioBancarioSoap" name="ServicioBancarioSoap" />
        </client>
    </system.serviceModel>
</configuration>